<a href="https://colab.research.google.com/github/nawazf/BSMM-8740-1/blob/main/F23_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="red"><h1> This lab submission will account for 10% of your grade</h1></font>

## 0\. Background

*   Your goal is to predict whether income exceeds $50K/yr based on census data.
*   You have a sample dataset with a binary <font color="red">income</h1></font> target. There are two possible values **'>50K'** and **'<=50K'**



This dataset is sourced from
https://archive.ics.uci.edu/dataset/2/adult

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import  LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

## 1\. ***Load the Dataset into a Pandas DataFrame***

In [2]:
# Load the dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
column_names = ["age", "workclass", "fnlwgt", "education", "education_num", "marital_status",
                "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss",
                "hours_per_week", "native_country", "income"]
data = pd.read_csv(url, names=column_names, skipinitialspace=True)

## 2\.***Data Exploration***

### 2\.1 Display the top 5 rows and bottom 5 rows of the DataFrame

<font color="red"><h1> <Submit Answer Below [1] - 0.5 point:</h1></font>

In [3]:
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 2\.2 Identify which rows have nulls

<font color="red"><h1> <Submit Answer Below [1] - 0.5 point:</h1></font>

In [4]:
data.isna().sum()
data.isnull().any()

age               False
workclass         False
fnlwgt            False
education         False
education_num     False
marital_status    False
occupation        False
relationship      False
race              False
sex               False
capital_gain      False
capital_loss      False
hours_per_week    False
native_country    False
income            False
dtype: bool

### 2\.3 Identify the unique values in each column in your dataset

<font color="red"><h1> <Submit Answer Below [1] - 0.5 point:</h1></font>

In [5]:
data.nunique()

age                  73
workclass             9
fnlwgt            21648
education            16
education_num        16
marital_status        7
occupation           15
relationship          6
race                  5
sex                   2
capital_gain        119
capital_loss         92
hours_per_week       94
native_country       42
income                2
dtype: int64

### 2\.4 For your target variable, identify the percentage of records for each class

<font color="red"><h1> <Submit Answer Below [1] - 0.5 point:</h1></font>

In [6]:
class_distribution = data['income'].value_counts(normalize= True)* 100
class_distribution

<=50K    75.919044
>50K     24.080956
Name: income, dtype: float64

## 3\.***Pre-process the data***

### 3\.1. Organize your columns into Categorical features, numeric features, and a target variable.  Assign your features to an X variable and your target to a y variable.  Display the output of both X and y.

<font color="red"><h1> <Submit Answer Below [1] - 2 points:</h1></font>

In [7]:
numerical_features = ['age',	'fnlwgt',	'education_num',	'capital_gain',	'capital_loss',	'hours_per_week']
categorical_features = ['workclass',	'education',	'marital_status',	'occupation',	'relationship',	'race',	'sex',	'native_country']
target = ['income']

In [8]:
X = data[numerical_features+categorical_features]
y = data[target]

### 3\.2 Label Encoding


Notice the binary target variable has text values.  
The target variable needs to be converted to numeric values before using it to build your predictive model.

The code to do the label encoding is partially given to you

<font color="red"><h1> <Submit Answer Below [1] - 2 points:</h1></font>

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
labenc = LabelEncoder()
y = labenc.fit_transform(y)

### 3\.3 Feature Transformation

*  Perform One Hot Encoding for categorical features

<font color="red"><h1> <Submit Answer Below [1] - 1 point:</h1></font>

In [11]:
from sklearn.impute import  SimpleImputer
preprocessor = ColumnTransformer(
    transformers=[
        ('str', OneHotEncoder(), categorical_features),
        ('num', SimpleImputer(strategy= 'mean'), numerical_features)
    ]
)

In [12]:
X = preprocessor.fit_transform(X)

In [13]:
X.shape

(32561, 108)

In [14]:
pd.DataFrame(X)

                                                       0
0        (0, 7)\t1.0\n  (0, 18)\t1.0\n  (0, 29)\t1.0\...
1        (0, 6)\t1.0\n  (0, 18)\t1.0\n  (0, 27)\t1.0\...
2        (0, 4)\t1.0\n  (0, 20)\t1.0\n  (0, 25)\t1.0\...
3        (0, 4)\t1.0\n  (0, 10)\t1.0\n  (0, 27)\t1.0\...
4        (0, 4)\t1.0\n  (0, 18)\t1.0\n  (0, 27)\t1.0\...
...                                                  ...
32556    (0, 4)\t1.0\n  (0, 16)\t1.0\n  (0, 27)\t1.0\...
32557    (0, 4)\t1.0\n  (0, 20)\t1.0\n  (0, 27)\t1.0\...
32558    (0, 4)\t1.0\n  (0, 20)\t1.0\n  (0, 31)\t1.0\...
32559    (0, 4)\t1.0\n  (0, 20)\t1.0\n  (0, 29)\t1.0\...
32560    (0, 5)\t1.0\n  (0, 20)\t1.0\n  (0, 27)\t1.0\...

[32561 rows x 1 columns]

## 4\. ***Train and Evaluate Classification Models***

### 4\.1 Train/Test Split

Split your data to (80% Training/20% Testing) with random seed value of 42

<font color="red"><h1>Submit Answer Below [3] - 1 point:</h1></font>

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

### 4\.2 Train and Evaluate Models

Train at least <font color="red">two</font> different classifiers and report the following:


*   Confusion Matrix
*   Accuracy Score
*   AUC Score

<font color="red"><h1>Submit Answer Below [3] - 2 points:</h1></font>

In [16]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [17]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [18]:
y_pred = knn.predict(X_test)

In [19]:
print(f'Area under ROC curve: {roc_auc_score(y_test, y_pred): 0.4f}')
print(f'Accuracy {accuracy_score(y_test, y_pred): 0.4f}')
print(classification_report(y_test, y_pred, digits=4))
pd.DataFrame(confusion_matrix(y_test, y_pred))

Area under ROC curve:  0.6244
Accuracy  0.7786
              precision    recall  f1-score   support

           0     0.8116    0.9223    0.8634      4942
           1     0.5719    0.3265    0.4157      1571

    accuracy                         0.7786      6513
   macro avg     0.6918    0.6244    0.6396      6513
weighted avg     0.7538    0.7786    0.7554      6513

      0    1
0  4558  384
1  1058  513

In [20]:
supvec = SVC()

In [21]:
supvec.fit(X_train, y_train)

SVC()

In [22]:
y_pred = supvec.predict(X_test)

In [23]:
print(f'Area under ROC curve: {roc_auc_score(y_test, y_pred): 0.4f}')
print(f'Accuracy {accuracy_score(y_test, y_pred): 0.4f}')
print(classification_report(y_test, y_pred, digits=4))
pd.DataFrame(confusion_matrix(y_test, y_pred))

Area under ROC curve:  0.5773
Accuracy  0.7956
              precision    recall  f1-score   support

           0     0.7882    0.9992    0.8812      4942
           1     0.9839    0.1553    0.2683      1571

    accuracy                         0.7956      6513
   macro avg     0.8860    0.5773    0.5748      6513
weighted avg     0.8354    0.7956    0.7334      6513

      0    1
0  4938    4
1  1327  244