In [1]:
import pandas as pd
import numpy as np

In [3]:
hiking = pd.read_json('../Intro to Data Preprocessing/Datasets/hiking.json')

In [5]:
hiking.head()

,Prop_ID,Name,Location,Park_Name,Length,Difficulty,Other_Details,Accessible,Limited_Access,lat,lon
0,B057,Salt Marsh Nature Trail,"Enter behind the Salt Marsh Nature Center, loc...",Marine Park,0.8 miles,None,<p>The first half of this mile-long trail foll...,Y,N,NaN,NaN
1,B073,Lullwater,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,1.0 mile,Easy,Explore the Lullwater to see how nature thrive...,N,N,NaN,NaN
2,B073,Midwood,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.75 miles,Easy,Step back in time with a walk through Brooklyn...,N,N,NaN,NaN
3,B073,Peninsula,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Discover how the Peninsula has changed over th...,N,N,NaN,NaN
4,B073,Waterfall,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Trace the source of the Lake on the Waterfall ...,N,N,NaN,NaN

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
tfidf_vec = TfidfVectorizer(stop_words='english')

In [9]:
loc_desc = hiking['Location']

In [11]:
tfidf_vec.fit(loc_desc)

TfidfVectorizer(stop_words='english')

In [24]:
pd.DataFrame(tfidf_vec.vocabulary_.items(), columns=['word', 'id']).head(10).sort_values('id', ascending=False)

           word  id
1          salt  80
6          near  62
3        nature  61
2         marsh  55
5       located  51
7  intersection  44
0         enter  26
8          east  25
4        center  16
9          33rd   2

In [27]:
print(tfidf_vec.vocabulary_.items())

dict_items([('enter', 26), ('salt', 80), ('marsh', 55), ('nature', 61), ('center', 16), ('located', 51), ('near', 62), ('intersection', 44), ('east', 25), ('33rd', 2), ('street', 87), ('avenue', 7), ('park', 67), ('lincoln', 50), ('road', 77), ('ocean', 64), ('entrance', 27), ('trails', 91), ('begin', 10), ('prospect', 73), ('audubon', 6), ('wide', 100), ('check', 17), ('href', 41), ('features', 30), ('hiking', 37), ('alley', 4), ('pond', 72), ('page', 66), ('map', 54), ('directions', 23), ('scenic', 81), ('locations', 52), ('forest', 33), ('drive', 24), ('woodhaven', 102), ('boulevard', 12), ('memorial', 56), ('metropolitan', 57), ('francis', 34), ('lewis', 48), ('union', 94), ('turnpike', 93), ('brielle', 13), ('roanoake', 78), ('rockland', 79), ('avenues', 8), ('richmond', 76), ('st', 84), ('patrick', 70), ('place', 71), ('mid', 58), ('way', 98), ('trailhead', 90), ('reidel', 75), ('hill', 38), ('mulberry', 60), ('travis', 92), ('limited', 49), ('parking', 68), ('willowbrook', 101), ('victory', 96), ('200', 0), ('feet', 32), ('ahead', 3), ('lot', 53), ('terminus', 88), ('nevada', 63), ('staten', 86), ('island', 46), ('short', 82), ('walk', 97), ('broadway', 14), ('mosholu', 59), ('horse', 39), ('stables', 85), ('golf', 35), ('course', 21), ('van', 95), ('cortlandt', 20), ('south', 83), ('bailey', 9), ('oneida', 65), ('trail', 89), ('dickinson', 22), ('parkway', 69), ('west', 99), ('gun', 36), ('arden', 5), ('legate', 47), ('hylan', 43), ('cornelia', 19), ('eugene', 29), ('hunter', 42), ('inwood', 45), ('featuring', 31), ('entrances', 28), ('red', 74), ('burke', 15), ('204th', 1), ('blue', 11), ('conference', 18), ('house', 40)])

In [29]:
wine = pd.read_csv('../Intro to Data Preprocessing/Datasets/wine_types.csv')

In [30]:
wine.head()

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [31]:
from sklearn.decomposition import PCA

In [32]:
X = wine.drop('Type', axis=1)
y = wine['Type']

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=456)

In [37]:
pca = PCA()

In [38]:
pca_X_train = pca.fit_transform(X_train)
pca_X_test = pca.transform(X_test)

In [41]:
print(pca.explained_variance_ratio_)

[9.97903267e-01 1.91758026e-03 9.63800290e-05 5.40519093e-05
 1.33694447e-05 8.57108467e-06 2.85560695e-06 1.51579768e-06
 1.05435028e-06 7.04192366e-07 3.74746576e-07 2.01028956e-07
 7.46694640e-08]