In [1]:
import pandas as pd
import numpy as np

In [2]:
creadit_data = pd.read_csv('../Hyperparameter Tuning/Dataset/credit-card-full.csv')

In [3]:
creadit_data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [4]:
creadit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [5]:
creadit_data.var()

ID                            7.500250e+07
LIMIT_BAL                     1.683446e+10
SEX                           2.392474e-01
EDUCATION                     6.246510e-01
MARRIAGE                      2.724523e-01
AGE                           8.496976e+01
PAY_0                         1.262930e+00
PAY_2                         1.433254e+00
PAY_3                         1.432492e+00
PAY_4                         1.366885e+00
PAY_5                         1.284114e+00
PAY_6                         1.322472e+00
BILL_AMT1                     5.422240e+09
BILL_AMT2                     5.065705e+09
BILL_AMT3                     4.809338e+09
BILL_AMT4                     4.138716e+09
BILL_AMT5                     3.696294e+09
BILL_AMT6                     3.546692e+09
PAY_AMT1                      2.743423e+08
PAY_AMT2                      5.308817e+08
PAY_AMT3                      3.100051e+08
PAY_AMT4                      2.454286e+08
PAY_AMT5                      2.334266e+08
PAY_AMT6                      3.160383e+08
default payment next month    1.722763e-01
dtype: float64

In [7]:
creadit_data.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [8]:
creadit_data.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [10]:
creadit_data.nunique()

ID                            30000
LIMIT_BAL                        81
SEX                               2
EDUCATION                         7
MARRIAGE                          4
AGE                              56
PAY_0                            11
PAY_2                            11
PAY_3                            11
PAY_4                            11
PAY_5                            10
PAY_6                            10
BILL_AMT1                     22723
BILL_AMT2                     22346
BILL_AMT3                     22026
BILL_AMT4                     21548
BILL_AMT5                     21010
BILL_AMT6                     20604
PAY_AMT1                       7943
PAY_AMT2                       7899
PAY_AMT3                       7518
PAY_AMT4                       6937
PAY_AMT5                       6897
PAY_AMT6                       6939
default payment next month        2
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [11]:
X = creadit_data.drop('default payment next month', axis=1)

In [12]:
y = creadit_data['default payment next month']

In [14]:
X_test, X_train, y_test, y_train = train_test_split(X, y, stratify=y, random_state=42)

In [18]:
log_reg = LogisticRegression( random_state=42, n_jobs=-1, max_iter=1000)

In [19]:
log_reg.fit(X_train, y_train)

LogisticRegression(max_iter=1000, n_jobs=-1, random_state=42)

In [20]:
log_reg.coef_

array([[-1.34739057e-05, -2.37268536e-06, -8.46693377e-04,
        -9.45875248e-04, -1.00801714e-03, -1.28806427e-02,
         2.35953873e-03,  1.79128063e-03,  1.55534341e-03,
         1.47026875e-03,  1.44354125e-03,  1.24249599e-03,
        -1.46169277e-05,  1.37949519e-05,  1.57223638e-06,
         7.29022824e-07,  1.60330434e-06,  2.43982395e-06,
        -4.53096894e-05, -1.48479135e-05, -1.67045553e-05,
        -1.05439001e-05, -1.12307604e-05, -1.88470330e-06]])

In [21]:
original_variables = list(X_train.columns)
original_variables

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6']

In [28]:
zipped_together = list(zip(original_variables, log_reg.coef_[0]))
zipped_together

[('ID', -1.3473905733348525e-05),
 ('LIMIT_BAL', -2.3726853556643467e-06),
 ('SEX', -0.0008466933770267159),
 ('EDUCATION', -0.0009458752476165015),
 ('MARRIAGE', -0.001008017141649902),
 ('AGE', -0.012880642738338645),
 ('PAY_0', 0.0023595387333148117),
 ('PAY_2', 0.0017912806308682371),
 ('PAY_3', 0.0015553434135699353),
 ('PAY_4', 0.0014702687521608517),
 ('PAY_5', 0.0014435412505015854),
 ('PAY_6', 0.0012424959886442116),
 ('BILL_AMT1', -1.4616927744272934e-05),
 ('BILL_AMT2', 1.379495190791849e-05),
 ('BILL_AMT3', 1.5722363819612267e-06),
 ('BILL_AMT4', 7.290228243944976e-07),
 ('BILL_AMT5', 1.6033043397130956e-06),
 ('BILL_AMT6', 2.4398239491209744e-06),
 ('PAY_AMT1', -4.530968935105145e-05),
 ('PAY_AMT2', -1.4847913486441648e-05),
 ('PAY_AMT3', -1.670455528040402e-05),
 ('PAY_AMT4', -1.0543900133158017e-05),
 ('PAY_AMT5', -1.1230760390813768e-05),
 ('PAY_AMT6', -1.8847033002076866e-06)]

In [29]:
coefs = [list(x) for x in zipped_together]
coefs

[['ID', -1.3473905733348525e-05],
 ['LIMIT_BAL', -2.3726853556643467e-06],
 ['SEX', -0.0008466933770267159],
 ['EDUCATION', -0.0009458752476165015],
 ['MARRIAGE', -0.001008017141649902],
 ['AGE', -0.012880642738338645],
 ['PAY_0', 0.0023595387333148117],
 ['PAY_2', 0.0017912806308682371],
 ['PAY_3', 0.0015553434135699353],
 ['PAY_4', 0.0014702687521608517],
 ['PAY_5', 0.0014435412505015854],
 ['PAY_6', 0.0012424959886442116],
 ['BILL_AMT1', -1.4616927744272934e-05],
 ['BILL_AMT2', 1.379495190791849e-05],
 ['BILL_AMT3', 1.5722363819612267e-06],
 ['BILL_AMT4', 7.290228243944976e-07],
 ['BILL_AMT5', 1.6033043397130956e-06],
 ['BILL_AMT6', 2.4398239491209744e-06],
 ['PAY_AMT1', -4.530968935105145e-05],
 ['PAY_AMT2', -1.4847913486441648e-05],
 ['PAY_AMT3', -1.670455528040402e-05],
 ['PAY_AMT4', -1.0543900133158017e-05],
 ['PAY_AMT5', -1.1230760390813768e-05],
 ['PAY_AMT6', -1.8847033002076866e-06]]

In [31]:
coefs = pd.DataFrame(coefs, columns=['Variables', 'Coefeciencient'])
coefs

    Variables  Coefeciencient
0          ID   -1.347391e-05
1   LIMIT_BAL   -2.372685e-06
2         SEX   -8.466934e-04
3   EDUCATION   -9.458752e-04
4    MARRIAGE   -1.008017e-03
5         AGE   -1.288064e-02
6       PAY_0    2.359539e-03
7       PAY_2    1.791281e-03
8       PAY_3    1.555343e-03
9       PAY_4    1.470269e-03
10      PAY_5    1.443541e-03
11      PAY_6    1.242496e-03
12  BILL_AMT1   -1.461693e-05
13  BILL_AMT2    1.379495e-05
14  BILL_AMT3    1.572236e-06
15  BILL_AMT4    7.290228e-07
16  BILL_AMT5    1.603304e-06
17  BILL_AMT6    2.439824e-06
18   PAY_AMT1   -4.530969e-05
19   PAY_AMT2   -1.484791e-05
20   PAY_AMT3   -1.670456e-05
21   PAY_AMT4   -1.054390e-05
22   PAY_AMT5   -1.123076e-05
23   PAY_AMT6   -1.884703e-06

In [34]:
coefs.sort_values(by='Coefeciencient', ascending=False, inplace=True, axis=0)
coefs.head()

   Variables  Coefeciencient
6      PAY_0        0.002360
7      PAY_2        0.001791
8      PAY_3        0.001555
9      PAY_4        0.001470
10     PAY_5        0.001444

In [35]:
# import random forest classifier
from sklearn.ensemble import RandomForestClassifier

In [36]:
rf_clf = RandomForestClassifier(max_depth=2)

In [37]:
rf_clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=2)

In [38]:
chosen_tree = rf_clf.estimators_[7]

In [39]:
chosen_tree

DecisionTreeClassifier(max_depth=2, max_features='sqrt',
                       random_state=1680369461)

In [41]:
split_column = chosen_tree.tree_.feature[1]
split_column

16

In [42]:
split_column_name = X_train.columns[split_column]
split_column_name

'BILL_AMT5'

In [43]:
split_value = chosen_tree.tree_.threshold[1]
split_value

16464.0